body {
  margin: 0;
  padding: 0;
  background-color: #050d33;
}

.forma {
  padding: 160px 80px;
  padding-top: 120px;
  background-image: radial-gradient(circle, #121b47, #121b47, #0e1641, #09143d, #08113d);
  margin-top: 100px;
  border-radius: 14px;
}

.zab {
  cursor: pointer;
  color: #f33f79;
}
.zab:hover {
  color: #ee2f6b;
}

input {
  font-size: large;
  background-color: #080f33;
  color: white;
  padding: 10px 5px;
  border: 1px #13183e solid;
  width: 100%;
  border-radius: 4px;
}

.btn {
  border-radius: 2px;
  background-color: #f33f79;
}
.btn:hover {
  background-color: #ee2f6b;
}

.oblik {
  border-radius: 64% 100% 100% 60%/60% 74% 84% 61%;
  width: 500px;
  height: 500px;
  z-index: -1;
  position: absolute;
  background: rgb(63, 94, 251);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(63, 94, 251)), to(rgb(252, 70, 107)));
  background: linear-gradient(rgb(63, 94, 251) 0%, rgb(252, 70, 107) 100%);
}

.oblik2 {
  border-radius: 64% 100% 100% 60%/60% 74% 84% 61%;
  width: 500px;
  height: 500px;
  z-index: -1;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  left: 73.3%;
  background: rgb(63, 94, 251);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(252, 70, 107)), to(rgb(63, 94, 251)));
  background: linear-gradient(rgb(252, 70, 107) 0%, rgb(63, 94, 251) 100%);
}

@media only screen and (max-width: 600px) {
  .forma {
    padding-left: 10px;
    padding-right: 10px;
  }
}